@font-face {
    font-family: 'Open Sans';
    src: url('opensans_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Condensed Light';
    src: url('noto_sans_condensed_light.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono Thin';
    src: url('jet_brains_mono_thin.ttf') format('truetype');
}

body {
    font-family: 'Noto Sans Condensed Light';
    color: lightgray;
    text-align: center;
    background-color: #040406;
}

h1 {
    color: white;
}

a {
    color: lightseagreen;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: white;
}

input {
    font-family: 'Noto Sans Condensed Light';
    border-radius: 2ch;
    border: 0;
    color: lightgray;
    background-color: #020204;
    padding: 2ch;
}

textarea {
    font-family: 'Noto Sans Condensed Light';
    margin: auto;
    border-radius: 2ch;
    border: 0;
    color: lightgray;
    background-color: #020204;
    padding: 2ch;
}

button {
    font-family: 'Noto Sans Condensed Light';
    border: 0;
    color: lightgray;
    background-color: #060608;
    font-size: medium;
    margin: auto;
    padding: 1ch;
    border-radius: 1ch;
    box-shadow: 1ch 1ch 3ch #000000ff;
    transition: 0.5s ease;
}

button:hover {
    padding: auto;
    transform: scale(1.05);
    box-shadow: 1ch 1ch 2ch #000000cc;
}

.library_view {
    display: grid;
    grid-column: 1;
    justify-items: center;
}

.title {
    color: lightgrey;
    padding: auto;
    margin: 2ch;
    border-radius: 1ch;
    padding-bottom: 2ch;
    width: 30ch;
    background-color: #060608;
    box-shadow: 1ch 1ch 3ch #000000ff;
    transition: 0.5s ease;
}

.title:hover {
    padding: auto;
    transform: scale(1.05);
    background-color: #080810;
    box-shadow: 1ch 1ch 2ch #000000cc;
}

.title img {
    background-color: black;
    width: 5ch;
    height: 5ch;
    border-radius: 50%;
    border: 0;
}

.item_view {
    padding: auto;
    margin: 2ch;
    border-radius: 2ch;
    background-color: #060608;
    box-shadow: 1ch 1ch 3ch #000000ff;
}

.item_view img {
    width: 5ch;
    height: 5ch;
    border-radius: 50%;
    border: 0;
}


.input_file_mask {
    display: inline-block;
    font-family: 'Open Sans';
    color: lightgray;
    background-color: #060608;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    padding: auto;
    margin: 2ch;
    border-radius: 1ch;
    box-shadow: 1ch 1ch 3ch #000000ff;
    transition: 0.5s ease;
}

.input_file_mask:hover {
    padding: auto;
    transform: scale(1.05);
    background-color: #080810;
    box-shadow: 1ch 1ch 2ch #000000cc;
}
 
.input_file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.logo {
    width: 25ch;
    height: 25ch;
}